@import url('https://fonts.googleapis.com/css?family=Almendra SC&display=swap');
@import url('https://fonts.googleapis.com/css?family=Almendra Display&display=swap');
@import url('https://fonts.googleapis.com/css?family=Almendra&display=swap');
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic+Coding&display=swap');
@import url('https://fonts.googleapis.com/css?family=UnifrakturMaguntia&display=swap');

@font-face {
    font-family: 'humanisticcursive';
    src: url('../webfontkit-20190926-162320/humanistic_cursive-webfont.woff2') format('woff2'),
         url('../webfontkit-20190926-162320/humanistic_cursive-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'Court Hand';
    src: url('../transfonter.org-20191003-130801/CourtHand.woff2') format('woff2'),
        url('../transfonter.org-20191003-130801/CourtHand.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}



  body{
                border: 125px solid transparent;
                border-image-source: url('../images/left_border.png');
                border-image-slice: 0 0 0 200; 
                border-image-repeat: repeat;
                background-color: #E7D1A2 !important;
                margin-left: 10px;
                margin-top: -20px;

            }
        
main p::first-letter {
    font-family: 'UnifrakturMaguntia', cursive;
  float: left;
  font-family: humanisticcursive;
  font-size: 75px;
  line-height: 45px;
  padding-top: 4px;
  padding-right: 8px;
  padding-left: 3px;
  color: #D2A938;
    border-style: solid;
    background-color: brown;

}
  
         h1{
                text-align: center;
                font-family: Almendra;
                font-size: 85px;

            }
            h2{
            	 text-align: center;
                font-family: Almendra;
                font-size: 60px;
            }
            h3{
            	text-align: center;
                font-family: Almendra;
                font-size: 45px;
                margin-left: 5%;
            }
            h4{
                text-align: center;
                font-family: Almendra;
                font-size: 45px;
                margin-left: 5%;
            }

            header p{
            	text-align: center;
                font-family: Almendra;
                font-size: 40px;
                font-weight: bold;
      }
h3::first-letter{
    color: #D2A938;
    border-style: solid;
    background-color: #7F9160;
}
h2::first-letter{
    color: #D2A938;
    border-style: solid;
    background-color: brown;
    
}
header p::first-letter{
    color: #D2A938;
    border-style: solid;
    background-color: #6D768B;
}


main p{
	border: 120px solid transparent;
    padding-bottom: 50px;
    margin-top: -100px;
    border-image-source: url('../images/border.png');
	border-image-slice: 0 0 200 0; 
	border-image-repeat: repeat;
    margin-right: -50px;
	font-size: 30px;
    line-height: 1.5;
    text-align: justify;
  -webkit-column-count: 2; /* Chrome, Safari, Opera */
  -moz-column-count: 2; /* Firefox */
  column-count: 2;
  margin-left: -100px;
    -webkit-column-gap: 80px; /* Chrome, Safari, Opera */
  -moz-column-gap: 80px; /* Firefox */
  column-gap: 80px;
font-family: 'UnifrakturMaguntia', cursive;
}
img{
    border: 10px solid transparent;
    border-image: url("../images/back3.jpg") 30 round;


}
figure {
    display: inline-block;
}
figure img {
    vertical-align: top;
}
figure figcaption {
    text-align: center;
}
li{
   font-family: 'Court Hand';
}
table{
	font-family: 'Court Hand';
}
figure figcaption{
		font-family: 'Court Hand';
}
@media only screen and (max-width: 600px){
        body{
                margin-left: 5px;

        }
        header{
            width: 300px;
            margin-left:0px;
        }
        main{
            width: 500px;
            margin-left: 50x;
        }
        img{
            width: 250px !important;
            margin-left: 120px !important;
        }
        figcaption{
                    font-size: 6px;
                    margin-left: 130px;
                }
    }
  @media only screen and (min-width: 601px){
        header{
            width: 500px;
            margin-left: -5px;
        }
        main{
            width: 500px;
            margin-left: -5px;
        }
        img{
            width: 250px !important;
            margin-left: 120px !important;
        }
        figcaption{
                    font-size: 12px;
                    margin-left: 185px;
                }
    }
  @media only screen and (min-width: 900px){
            header{
            width: 700px;
            margin-left: -5px;
        }
        main{
            width: 700px;
            margin-left: -5px;
        }
        img{
            width: 400px !important;
            margin-left: 160px !important;
        }
        figcaption{
                    font-size: 10px;
                    margin-left: 220px;
                }

    }
    @media only screen and (min-width: 1000px){
        header{
            width: 1100px;
            margin-left: 5px;
        }
        main{
            width: 1200px;
            margin-left: 5px;
        }
        p {
            margin-top: 80px;
        }
        img{
            width: 600px !important;
            margin-left: 250px !important;
        }
        figcaption{
                    font-size: 14px;
                    margin-left: 350px;


                }

    }
