@import url('https://fonts.googleapis.com/css?family=Actor&display=swap')
@import url('https://fonts.googleapis.com/css?family=Anton|Medula+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

@font-face {
  font-family: 'OldNewsPaper';
  src: url('oldnewspapertypes-webfont.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
   	 url('oldnewspapertypes-webfont.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
		 url('oldnewspapertypes-webfont.woff2') format('woff2');
} 
@font-face {
	font-family: 'oldnews';
	src: url('OldNewspaperTypes.ttf') format('truetype');}
@font-face {
	font-family: 'metropolitain';
	src: url('metropolitain.regular.ttf') format('truetype');}
	
footer {
	border-top-style: solid;
	border-top-width: 0.1em;
}
footer p {
margin: 0;}	
	
header p {
	margin-top: 0em;
	margin-bottom: 0em;
	column-rule-style: none;
	border-bottom-width: 0em;
	border-top-width: 0em;
}

body header figure {
 display: block;
}
header img {
	

     filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><fecolormatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'></fecolormatrix></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%);
	 filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%); 
    -o-filter: grayscale(100%);
 border-top-style: none;

}

body {
 background-image: url("../images/sfondoufficiale.jpg");
 background-size: auto;
 margin: 2;
 
}

main{
line-height: 1em;}
span{
		width: 30%;
	margin: 0;

}

main {
	line-height: 1em;
  column-count: 1;
  -webkit-column-count: 1; /* Chrome, Safari, Opera */
    -moz-column-count: 1; /* Firefox */
	column-gap: 0.3em ;
	column-rule-style: solid;
	column-rule-width: 1em;
	column-rule-color: black;
	column-rule: 1px solid black;}
h1 {
	line-height: 1em;
	border-bottom: solid;
	border-bottom-width: 0.05em;
	margin-bottom: 1em;
  color: black;
  font-size: 1.7em;
  font-family: "Montserrat", sans-serif;
  margin: 0 auto;  
  -webkit-text-stroke-color: black;
  letter-spacing: -5;
  text-align: center;
}

h1::first-letter {
    font-size: 1.1em;
    margin-top: .15em;
}

h2 {
	line-height: 0.9em;
  border-bottom: solid;
  	border-bottom-width: 0.03em;
  margin-top: 0em;
  margin-bottom: 0em;
  color: black;
  font-size: 2em;
  font-family: "Times" ;
  	font-style: italic;  
  margin: 0 auto;  
  -webkit-text-stroke-color: black;
  letter-spacing: -4;
  text-align: center;
}

h3 {
	line-height: 0.9em;
  border-bottom: solid;
  border-bottom-width: 0.1em;
  margin-top: 0em;
  margin-bottom: 0em;
  color: black;
  font-size: 1em;
  font-family: "Times New Roman" ;
  -webkit-text-stroke-color: black;
  text-align: center;
}
h4 {	line-height: 0.9em;
  border-bottom: solid;
  border-bottom-width: 0.05em;
  margin-top: 0em;
  margin-bottom: 0em;
  color: black;
  font-size: 0.9em;
  font-family: "Times New Roman" ;
  -webkit-text-stroke-color: black;
  text-align: center;}
p {   

	font-size: 0.8em;
  font-family: 'oldnews', sans-serif;
	letter-spacing: 0.001em;
	word-spacing: 0.01em;
	 word-wrap: break-word;
	 word-break: break-all;
	 font-style: oblique;
	 margin-top: 0em;

}
section {	
	font-size: 0.8em;
  font-family: 'oldnews', sans-serif;
	letter-spacing: 0.001em;
	word-spacing: 0.01em;
	 word-wrap: break-word;
	 word-break: break-all;
	 font-style: oblique;
	 margin-top: 0em;
	 border-top: solid;
	 border-top-width: 0.15em;}
figure {
	width: 100%;
	margin: 0;
	text-align: cente	text-align: center;
		border-top-style: double;
	height: auto;
	margin: 0;
	text-align: center;
	font-family: 'Actor',  sans-serif ;
	font-style: italic;}


figcaption {
font-size:0.6em;}


body figure {
 display: inline;
 width: 10%;
 float: left;
 height: auto;
 margin-right: 2em;
     filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><fecolormatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'></fecolormatrix></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%);
	 filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%); 
    -o-filter: grayscale(100%);
 border-top-style: none;
}

#nologo {display:none;}
body #figurecopy { display: inline;
 width: 10%;
 float: right;
 height: auto;
 margin-left: 2em;
 margin-right: 0em;
     filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><fecolormatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'></fecolormatrix></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%);
	 filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%); 
    -o-filter: grayscale(100%);
}
body #figurecopy img {width: 100%;
height: auto;
}
body figcaption { display:none;}

body img {
width: 100%;
height: auto;}


main figure {
	 display: inline;
	 width:100%;
     height: auto;
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><fecolormatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'></fecolormatrix></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%);
	 filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%); 
    -o-filter: grayscale(100%);

}

span {
border-bottom-style: solid;
border-bottom-width: 0.02em;
font-size: 0.8em}

table {
border-top-style: double;
border-bottom-style: double; 
text-align: center;
font-size:0.9em;}

@media (min-width: 400px) {
    h1 {
        font-size: 2em;
    }
    h2 {
    	font-size: 2.3em;
    }
    h3 {
    	font-size: 1.2em;
    	}
    h4 {font-size: 0.9em;}
    p {
     font-size:0.8em;}
     main {
      -webkit-column-count: 2; /* Chrome, Safari, Opera */
      -moz-column-count: 2; /* Firefox */
     column-count:2;}
  table{font-size:1em;}
     section {
     font-size:0.8em;
     }
     img {width:100%;
     height: auto;}
      figcaption {font-size: 0.7em;
        }
           span {font-size: 0.8em;}
}

@media (min-width: 600px) {
    h1 {
        font-size: 2.5em;
    }
    h2 {
    	  font-size: 2.8em;
    }
    h3 {
    	  font-size: 1.1em;
    	  }
   h4 {font-size: 0.9em;}
    p {
    	font-size: 0.9em;}
    	main{
      column-count:3;
      -webkit-column-count: 3; /* Chrome, Safari, Opera */
      -moz-column-count: 3; /* Firefox */}
    	table{font-size: 1.1em;}
    section {
    	font-size: 0.9em;
    	}
    img {width: 100%;
    height: auto;}
     figcaption {font-size: 0.7em;
        }
           span {font-size: 0.9em;}
}

@media (min-width: 800px) {
    h1 {
        font-size: 2.8em;
    }
    h2 {
		  font-size: 3.3em;    
    }
    h3 {
    	font-size: 1.4em;
    }
    h4 { font-size: 1em;}
    p {
    font-size: 0.9em;}
    main {
    column-count:4;
    -webkit-column-count: 4; /* Chrome, Safari, Opera */
    -moz-column-count: 4; /* Firefox */}
    table {font-size: 1.1em;}
    section {
    font-size: 1em;
    }
    img {
    width: 100%;
    height: auto;}
     figcaption {font-size: 0.7em;
        }
           span {font-size: 0.9em;}
}

@media (min-width: 1000px) {
    h1 {
        font-size: 4em;}
	 h2 {
	 	font-size: 4.5em;
	 }        
	 h3 {
	 font-size: 1.8em;}
	 h4 {font-size: 1.1em;}
	 p {
	 font-size: 1em;
}
main {
   column-count: 4;
   -webkit-column-count: 4; /* Chrome, Safari, Opera */
   -moz-column-count: 4; /* Firefox */}
	 table {
	 		 font-size: 1em;

	 }
	 section {	 font-size: 1em;
}
	 img {
	 	width: 100%;
	 	height: auto;
	}
	 figcaption {font-size: 0.75em;
        }
    span {font-size: 0.9em;}
}   


