@import url('https://fonts.googleapis.com/css?family=UnifrakturMaguntia&display=swap');
@import url('https://fonts.googleapis.com/css?family=Vast+Shadow&display=swap');
@import url('https://fonts.googleapis.com/css?family=Jacques+Francois&display=swap');
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css?family=Ewert&display=swap');
@import url('https://fonts.googleapis.com/css?family=Ewert|Federo&display=swap');
@import url('https://fonts.googleapis.com/css?family=Sancreek&display=swap');
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface&display=swap');

body {
  background-image: url("../images/background10.jpg");
  background-attachment: fixed;
  background-size: cover;
  margin-right: 5%;
  margin-left: 5%;
}
#vid{
display: none}

body::after {
  content: "";
  display: block;
  max-width: 100%;
  height: 50%;
  background-repeat: no-repeat;
  background-image: url(../images/adscolormodified.jpg);
  background-position: center;
  margin-top: 1%;
}


header::before {
  content: "";
  display: block;
  width: 100%;
  height: 50%;
  background-repeat: no-repeat;
  background-image: url(../images/resized5.png);
  background-position: center;
  margin-top: -15%;
  margin-bottom: -13%;

}
#conte{
display: none}


header {
  width: 75vw;
  margin: 5vmin auto;
  text-align: center;
}

header::after {
  content: "";
  display: block;
  width: 100%;
  height: 50%;
  background-repeat: no-repeat;
  background-image: url(../images/resized5inverted.png);
  background-position: center;
  margin-top: -11%;
  margin-bottom: -12%;
}


h1 {
  font-weight: bold;
  color: #464443;
  font-size: 6vw;
  font-family: 'Sancreek', cursive;
  margin: 0 auto;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
  -webkit-transform: scaleX(1);
  transform: scaleX(1.1);
  text-align: center;
  text-shadow: 4px 4px #262728;
}


h1::after {
  content: "";
  display: block;
  width: 100%;
  height: 45%;
  background-image: url(../images/dottedonlineeditor.png);
  background-repeat: no-repeat;
  background-position: center;
  margin-top: -13%;
  margin-bottom: -15%;
}


h2 {
    font-family: 'Ewert', cursive;
    margin: 0 auto;
  	text-align: center;
  	font-size: 5.2vw;
    background: none;
    mix-blend-mode: multiply;
      color: #2c2b2a ;
        } 


h2::after {
  content: "";
  display: block;
  width: 100%;
  height: 45%;
  background-image: url(../images/dottedonlineeditor.png);
  background-repeat: no-repeat;
  background-position: center;
  margin-top: -13%;
  margin-bottom: -15%;
}


h3 {
    font-family: 'Abril Fatface', cursive;
      color:  #343332 ;
    margin: 0 auto;
    -webkit-text-stroke-width: 0.4px;
    -webkit-text-stroke-color: black;
    transform: scaleX(1);
    text-align: center;
    font-size: 3.9vw;
    transform: scaleY(1)
}


h3::after {
  content: "";
  display: block;
  width: 100%;
  height: 45%;
  background-image: url(../images/dottedonlineeditor.png);
  background-repeat: no-repeat;
  background-position: center;
  margin-top: -13%;
  margin-bottom: -15%;
}


h4 {
    font-family: 'Abril Fatface', cursive;
    margin: 0 auto;
      color: #424344;
    font-size: 2.1vw;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black;
}


main {

  width: 90vw;
  margin-left: auto;
  margin-right: auto;
  	column-count: 2;
  column-gap: 40px;
  column-rule-style: solid;
  column-rule-width: 1px;
  column-rule-color: black;
  column-rule: 1px solid black;
  column-span: all;
  column-width: 100px;
}
#btn{
	display: none;
}



img {
   padding:1px;
   border:1px solid #021a40;
	 max-width: 75%; 
	 display:block; 
	 height: auto;   
	 margin: 0 auto;
   border-radius: 20px;
   opacity: 0.7;
   -webkit-filter: grayscale(100%) contrast(3);
  }


figcaption {
  font-family: 'Federo', sans-serif;
  font-size: 1.2rem;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding: 0.5vh 1 1 1;
}


figure::before {
  content: "";
  padding: 20;
  display: block;
  width: 100%;
  height: 5%;
  background-image: url(../images/oneballless.png);
  background-repeat: no-repeat;
  background-position: center;

}


figure::after {
  content: "";
  padding: 20;
  display: block;
  width: 100%;
  height: 5%;
  background-image: url(../images/oneballless.png);
  background-repeat: no-repeat;
  background-position: center;
}


p {  
  font-family: 'Jacques Francois', serif;
  font-size:1.3vw;
  text-align: justify;
}


p::first-letter {
  font-size: 3.1rem;
  color: black;
font-family: 'Sancreek', cursive;
}

trailer {
    font-family: 'Jacques Francois', serif;
  font-size:1.1vw;
  text-align: justify;
}

table, th, td {
  border: 1px solid black;
  position: center;
     padding:1px;
   max-width: 65%; 
   display:block; 
   height: auto;   
   margin: 0 auto;
     font-size: 1.3vw;
       font-family: 'Jacques Francois', serif;
         text-align: center;

}

h5 {
    font-family: 'Abril Fatface', cursive;
    margin: 0 auto;
      color: #424344;
    font-size: 4vw;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black;
    text-align:center;
}


q {  
  font-family: 'Jacques Francois', serif;
  font-size:1.3vw;
  font-style: italic;
}


footer {    
	font-style: italic;
}

/*my burden*/

@media (max-width: 900px) {  /* to be applied if the screen is between 0 and 900 */
  figure:before {
    padding-top: 8%;
  }
  figure:after {
    padding-top: 4%;
  }
  figure > figcaption {
    font-size: 0.7rem;
  }
  figure > table {
    margin: 5% auto;
  }
  ol {
    margin: 0 0 5% 0;
}
  footer {
    padding: 5% 0;
  }
  header:before {
    width: 80vw;
    margin-top: -19%;
    margin-bottom: -17%;
  }
  header:after {
    width: 80vw;
    margin-top: -21%;
    margin-bottom: -22%;
  }
  h1:after {
    width: 100%;
    margin-top: -13%;
    margin-bottom: -18%;
  }
  h2:after {
    width: 100%;
    margin-top: -16%;
    margin-bottom: -19%;
  }
  h3:after {
    width: 100%;
    margin-top: -16%;
    margin-bottom: -19%;
  }
  figure:before {
    width: 100%;
    margin: 0;
  }
  figure:after {
    width: 100%;
    margin: 0;
  }
}


@media (max-width: 500px) {  /* to be applied if the screen is between 0 and 500 */
  figure:before {
    padding-top: 24%;
  }
  figure:after {
    padding-top: 14%;
  }
  figure > figcaption {
    font-size: 0.7rem;
  }
  figure > table {
    margin: 5% auto;
  }
  ol {
    margin: 0 0 5% 0;
}
  footer {
    padding: 5% 0;
  }
  header:before {
    width: 80vw;
    margin-top: -35%;
    margin-bottom: -35%;
  }
  header:after {
    width: 80vw;
    margin-top: -38%;
    margin-bottom: -40%;
    padding-top: -15vmin;
  }
  h1:after {
    width: 100%;
    margin-top: -25%;
    margin-bottom: -30%;
  }
  h2:after {
    width: 100%;
    margin-top: -30%;
    margin-bottom: -27%;
  }
  h3:after {
    width: 100%;
    margin-top: -23%;
    margin-bottom: -33%;
  }
  figure:before {
    width: 100%;
    margin: 0;
  }
  figure:after {
    width: 100%;
    margin: 0;
  }
}

@media (max-width: 700px) {  /* to be applied if the screen is between 0 and 500 */
  figure:before {
    padding-top: 22%;
  }
  figure:after {
    padding-top: 20%;
  }
  figure > figcaption {
    font-size: 0.7rem;
  }
  figure > table {
    margin: 5% auto;
  }
  ol {
    margin: 0 0 5% 0;
}
  footer {
    padding: 5% 0;
  }
  header:before {
    width: 80vw;
    margin-top: -25%;
    margin-bottom: -30%;
  }
  header:after {
    width: 80vw;
    margin-top: -20%;
    margin-bottom: -25%;
  }
  h1:after {
    width: 100%;
    margin-top: -15%;
    margin-bottom: -20%;
  }
  h2:after {
    width: 100%;
    margin-top: -20%;
    margin-bottom: -23%;
  }
  h3:after {
    width: 100%;
    margin-top: -20%;
    margin-bottom: -23%;
  }
  figure:before {
    width: 100%;
    margin: 0;
  }
  figure:after {
    width: 100%;
    margin: 0;
  }
}


@media only screen  and (min-width : 1224px) { /* this rule will be applied to desktop screen */
	header:before {
	margin-top: -13%;
	margin-bottom: -9%;  }

	figure:after {
		margin-bottom: -2%;
	}

	h1:after {
		margin-top: -10%;
		margin-bottom: -13%;
	}

	h2:after {
	margin-top: -10%;
	margin-bottom: -13%;
	}

	h3:after {
	margin-top: -10%;
	margin-bottom: -13%;
	}

}
