@font-face {
    font-family: 'Court Hand';
    src: url('CourtHand.woff2') format('woff2'),
        url('CourtHand.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Court Hand';
    src: url('CourtHand.woff2') format('woff2'),
        url('CourtHand.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

